body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: white;
  font-size: 20px;
}

.name {
  position: absolute;
  bottom: 5px;
  left: 5px;
}

.control {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

#over {
  position: absolute;
  left: 18%;
  top: 30%;
  font-size: 200px;
  font-family: 'Courier New', Courier;
  font-weight: bold;
  display: none;
}
